<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shopiroller">

    <queries>
        <package android:name="com.whatsapp" />
    </queries>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>

        <activity
            android:name="com.shopiroller.activities.FilterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppCompatMenu" />
        <activity
            android:name="com.shopiroller.activities.ProductDetailActivity"
            android:theme="@style/DayNightNoTopBars" />
        <activity
            android:name="com.shopiroller.activities.OrderDetailsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/MaterialComponentsNoActionBarNoStatusBar" />
        <activity
            android:name="com.shopiroller.activities.UserOrderActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/MaterialComponentsNoActionBarNoStatusBar" />
        <activity
            android:name="com.shopiroller.activities.Online3DSecureGateway"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/MaterialComponentsNoActionBarNoStatusBar" />
        <activity
            android:name="com.shopiroller.activities.OrderFlowActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/MaterialComponentsNoActionBarNoStatusBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.shopiroller.activities.ProductSearchActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/NoActionBarNoStatusBar" />
        <activity
            android:name="com.shopiroller.activities.CategoryListActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/NoActionBarNoStatusBar" />
        <activity
            android:name="com.shopiroller.activities.ShowcaseProductListActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/NoActionBarNoStatusBar" />
        <activity
            android:name="com.shopiroller.activities.ShoppingCartActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/NoActionBarNoStatusBar" />
        <activity
            android:name="com.shopiroller.activities.ProductDescriptionActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/NoActionBarNoStatusBar" />
        <activity
            android:name="com.shopiroller.activities.PayPalActivity"
            android:exported="true"
            android:theme="@style/PayPal" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="${applicationId}.braintree"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.shopiroller.activities.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|screenSize"
            android:theme="@style/MaterialComponentsNoActionBarNoStatusBar" />
    </application>
</manifest>